<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include partials/header.ejs %>
    <!-- End Header -->

    <section
      id="hero"
      class="d-flex align-items-center"
      style="background-color: white"
    >
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h2><b>REDFLOW</b>//About Our Platform!!</h2>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="https://trustseobd.com/wp-content/uploads/2020/09/about-us.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <main id="main">
      <section id="portfolio-details" class="portfolio-details">
        <div class="container pt-5">
          <h1
            style="
              color: rgb(224, 53, 53);
              font-style: italic;
              font-size: 50px;
              text-align: center;
            "
          >
            <b>About REDFLOW</b>
          </h1>
        </div>
        <div class="container pt-5">
          <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              <div class="row">
                <div
                  class="col-md-6 col-lg-12 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <div class="icon-box">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <img
                      src="https://gscbt.net/wp-content/uploads/2020/02/bd-whydonation-button.jpg"
                      class="img-fluid"
                      alt=""
                      data-aos="zoom-in"
                    />
                    <hr />
                    <h4 class="title">
                      <a
                        href=""
                        style="color: rgb(224, 53, 53); font-size: 30px"
                        >REDFLOW</a
                      >
                      basically is a Blood Bank Organization where general
                      people can easily Find a safe Blood Donor and also can
                      find the nearby Pharmacies where general people can easily
                      collect their needed Blood.<br />REDFLOW intends to help
                      people in need of blood find blood donors. The recipients
                      can search donors efficiently using area and blood type
                      filters. Many people have successfully found donors using
                      this platform . We are glad to bring together and connect
                      people for this cause. We give people the basic rules as a
                      Donors <br />or as a Recipients and and this will such an
                      amazing to use this Site. Also people knowledgeable with
                      some important information that how to donate and also
                      will take some information about blood products.
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- ======= Footer Section ======= -->
    <%- include partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
