<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include partials/header.ejs %>
    <!-- End Header -->
    <section
      id="hero"
      class="d-flex align-items-center"
      style="background-color: white"
    >
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <!-- <h1>Urgent Need for Blood Donors</h1> -->
            <h2>
              <b>REDFLOW</b>//Choose Your Blood Components depend on their
              Information which is need for you Health!!
            </h2>
            <br /><br />
            <div>
              <a href="images/REDFLOW.pdf"
                ><button class="btn btn-danger" type="button">
                  Download Guide
                </button></a
              >
            </div>
            <!-- <div>
            <a href="/user" class="btn-get-started scrollto">Register</a>
            <a href="/signin" class="btn-get-started scrollto">Login</a>
          </div> -->
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="https://www.hema-quebec.qc.ca/userfiles/image/Sang-total-composition-ang.jpg"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <div class="container pt-5">
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <p
              style="
                color: rgb(224, 53, 53);
                font-style: italic;
                font-size: 50px;
                text-align: center;
              "
            >
              Blood Products
            </p>
            <span style="color: gray; font-style: italic; text-align: center"
              >We provide locations with the following lifesaving blood products
              24 hours a day, 365 days a year.</span
            >
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                <img
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/red-blood-cells.jpg.transform/1288/q82/feature/image.jpeg"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <hr />
                <h4 class="title">
                  <a href="" style="color: rgb(224, 53, 53)">RED BLOOD CELLS</a>
                </h4>
                <p class="description"></p>
                <ul>
                  <li style="text-align: left">Leukocyte-reduced</li>
                  <li style="text-align: left">CMV negative</li>
                  <li style="text-align: left">Irradiated</li>
                  <li style="text-align: left">Deglycerolized</li>
                  <li style="text-align: left">Washed</li>
                  <li style="text-align: left">For pediatric use</li>
                  <li style="text-align: left">Frozen</li>
                  <li style="text-align: left">Antigen negative</li>
                </ul>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <img
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/platelets.jpg.transform/1288/q82/feature/image.jpeg"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <hr />
                <h4 class="title">
                  <a href="" style="color: rgb(224, 53, 53)">PLATELETS</a>
                </h4>
                <p class="description"></p>
                <ul>
                  <li style="text-align: left">
                    Platelets pheresis, leukocyte-reduced
                  </li>
                  <li style="text-align: left">
                    Platelets pheresis irradiated
                  </li>
                  <li style="text-align: left">
                    Platelets pheresis, CMV-negative
                  </li>
                  <li style="text-align: left">
                    Platelets pheresis, HLA matched
                  </li>
                  <li style="text-align: left">
                    Platelets pheresis, HPA-1a (PLA1) negative
                  </li>
                  <li style="text-align: left">
                    Platelet additive solution (PAS) platelets
                  </li>
                  <li style="text-align: left">
                    Pathogen reduced platelets (in PAS)
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <img
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/plasma-blood.jpg.transform/1288/q82/feature/image.jpeg"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <hr />
                <h4 class="title">
                  <a href="" style="color: rgb(224, 53, 53)">PLASMA</a>
                </h4>
                <p class="description"></p>
                <ul>
                  <li style="text-align: left">
                    Plasma frozen within 24 hours (PF24)
                  </li>
                  <li style="text-align: left">
                    Plasma held at room temperature for up to 24 hours (PF24RT24
                  </li>
                  <li style="text-align: left">Fresh frozen plasma (FFP)</li>
                  <li style="text-align: left">
                    Plasma, cryoprecipitate reduced
                  </li>
                  <li style="text-align: left">Cryoprecipitated AHF</li>
                  <li style="text-align: left">Cryoprecipitated AHF, pooled</li>
                  <li style="text-align: left">Liquid plasma</li>
                </ul>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <img
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/whole-blood.jpg.transform/1288/q82/feature/image.jpeg"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <hr />
                <h4 class="title">
                  <a href="" style="color: rgb(224, 53, 53)">WHOLE BLOOD</a>
                </h4>
                <p class="description"></p>
                <ul>
                  <li style="text-align: left">
                    Leukocyte-reduced and non-leukocyte reduced
                  </li>
                  <li style="text-align: left">
                    Other available features: CMV negative, Irradiated, for
                    pediatric use
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <img
                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/blood-research.jpg.transform/1288/q82/feature/image.jpeg"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <hr />
                <h4 class="title">
                  <a href="" style="color: rgb(224, 53, 53)"
                    >BLOOD PRODUCTS FOR RESEARCH</a
                  >
                </h4>
                <p class="description"></p>
                <ul>
                  <li style="text-align: left">Whole blood</li>
                  <li style="text-align: left">Red blood cells</li>
                  <li style="text-align: left">Platelets</li>
                  <li style="text-align: left">Source leukocytes</li>
                  <li style="text-align: left">Mononuclear cells</li>
                  <li style="text-align: left">Other products by request</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- ======= Footer Section ======= -->
    <%- include partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
