<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include partials/header.ejs %>
    <!-- End Header -->

    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>
              If there are two blood donors ready... The life of the pregnant
              mother will be assured...
            </h1>
            <!-- <h2><b>REDFLOW</b> is intended to help people in the need of blood, find the required blood by connecting with donors online.</h2> -->
            <div>
              <a class="btn-get-started scrollto">
                You know that a pregnant mother may need blood 9 months before
                the delivery date... So, find 2 blood donors in advance if you
                think... Ask friends and known blood donors to always be ready
                so that they can be the first to come forward in case of any
                physical complications for the pregnant woman...</a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="https://cdn.pixabay.com/photo/2019/08/06/17/03/comic-4388763__480.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <!-- <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="images/images-removebg-preview (1).png" class="img-fluid" alt="" data-aos="zoom-in">
              </div> -->
            <div class="col-lg-12 pt-5 pt-lg-5">
              <!-- <h3 data-aos="fade-up">About Us</h3> -->
              <p
                data-aos="fade-up"
                data-aos-delay="100"
                style="font-size: 20px; color: black"
              >
                Blood cannot be artificially produced, only one human being can
                save another human being. But sadly, every year a large number
                of people die due to lack of required blood at the time of
                emergency. At present Bangladesh needs only 9 lakh bags of blood
                every year. But in this populous country, people still die from
                a lack of blood. It will be possible to meet this need for blood
                very quickly if adults from all parts of our country can be made
                aware of the necessity and benefits of blood donation.
              </p>

              <br /><br />
              <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h3 style="color: rgb(224, 53, 53)">Why donate blood?</h3>
                  <hr />
                  <h6>
                    <b>1)</b> First and foremost, your donated blood will save a
                    life. What can be a bigger reason for blood donation! <br />
                    <hr />
                    <b>2)</b> Maybe one day someone else will come forward at
                    your own need/danger. <br />
                    <hr />
                    <b>3)</b> Regular blood donation reduces the risk of heart
                    disease and heart attack. <br />
                    <hr />
                    <b>4)</b> Through regular voluntary blood donation, it is
                    free of cost to know if there is any major disease in one's
                    body. For example: Hepatitis-B, Hepatitis-C, Syphilis, HIV
                    (AIDS) etc. <br />
                    <hr />
                    <b>5)</b> The immune system of the body increases many
                    times. <b>6)</b> Donating blood is a religious act of great
                    merit or reward. In Surah Al-Maida verse 32 of the Holy
                    Quran, "Saving the life of one person is as great as saving
                    the life of the entire human race."<br />
                    <hr />
                    <b>7)</b> You can realize a kind of self-satisfaction in
                    yourself. I'm sure you'll get that feeling of "having done
                    something in our small life" :)<br />
                    <hr />
                  </h6>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h3 style="color: rgb(224, 53, 53)">Who Can donate blood?</h3>
                  <hr />
                  <h6>
                    <b>1)</b> Any healthy person from 18 years to 60 years can
                    donate blood.<br />
                    <hr />
                    <b>2)</b> Physically and mentally healthy person can donate
                    blood.<br />
                    <hr />
                    <b>3)</b> Your weight must be 50 kg or more.<br />
                    <hr />
                    <b>4)</b> Intravenous blood can be donated every four (4)
                    months.<br />
                    <hr />
                    <b>5)</b> Blood hemoglobin content, blood pressure and body
                    temperature should be normal.<br />
                    <hr />
                    <b>6)</b> Those who have respiratory diseases like asthma,
                    asthma cannot donate blood.<br />
                    <hr />
                    <b>7)</b> In the absence of complicated blood-borne diseases
                    such as malaria, syphilis, gonorrhea, hepatitis, AIDS, skin
                    diseases, heart disease, diabetes, typhoid, and rheumatic
                    fever.<br />
                    <hr />
                    <b>8)</b> You should be free from skin diseases.<br />
                    <hr />
                    <b>9)</b> In women who are not pregnant and not
                    menstruating.<br />
                    <hr />
                    <b>10)</b> You must be free from Hepatitis-B, Hepatitis-C,
                    AIDS, Cancer, Tuberculosis, Schizophrenia and Malaria.
                    However, there are some diseases in which patients can
                    donate blood after a certain period of time. For example,
                    typhoid patients can donate blood after 12 months, malaria
                    patients after 3 months.<br />
                    <hr />
                    <b>11)</b> If you do not use any special medicine. For
                    example, antibiotics.<br />
                    <hr />
                  </h6>
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-receipt"></i>
                  <h3 style="color: rgb(224, 53, 53)">Some Misconceptions</h3>
                  <hr />
                  <h6>
                    <b>1)</b> There is no pain at all while donating blood. A
                    little discomfort is felt when the needle is inserted.
                    <br />
                    <hr />
                    <b>2)</b> Health will deteriorate after donating blood -
                    this is a misconception. Donating blood reduces the risk of
                    heart disease and prevents excessive iron or iron storage in
                    the body.<br />
                    <hr />
                    <b>3)</b> A person with diabetes cannot donate blood - this
                    is also a misconception. If deemed eligible, a person with
                    diabetes can donate blood as long as the person's blood
                    glucose level is within acceptable limits.<br />
                    <hr />
                    <b>4)</b> Donating blood is not possible due to high blood
                    pressure - this is also a misconception. Blood can be given
                    if the blood pressure is between 180 systolic and 100
                    diastolic at the time of blood donation.<br />
                    <hr />
                    <b>5)</b> You will not feel sick or faint after donating
                    blood. Many people have misconceptions about this. <br />
                    <hr />
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>

    <!-- ======= Footer Section ======= -->
    <%- include partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
