<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include partials/header.ejs %>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <%- include partials/hero.ejs %>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <%- include partials/about.ejs %>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <%- include partials/services.ejs %>
      <!-- ======= Services Section End======= -->

      <!-- ======= Contact Section ======= -->
      <%- include partials/contact.ejs %>
      <!-- ======= Contact Section End======= -->
    </main>

    <!-- ======= Footer Section ======= -->
    <%- include partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
