<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./../partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include ./../partials/header.ejs %>
    <!-- End Header -->

    <main id="main">
      <section id="portfolio-details" class="portfolio-details">
        <div class="container pt-5">
          <h1
            style="
              color: rgb(224, 53, 53);
              font-style: italic;
              font-size: 50px;
              text-align: center;
            "
          >
            <b>Common Concerns</b>
          </h1>
          <p style="color: gray; font-style: italic; text-align: center">
            Many people are reluctant to make their first blood donation, but
            once they do, they find the donation process to be easy and
            gratifying.
          </p>
        </div>
        <div class="container pt-5">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/856x423-common-concerns-needles.jpg.transform/1288/q70/feature/image.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h2 style="color: black"><b>I Don't Like Needles</b></h2>
                <div class="portfolio-description">
                  <p>
                    You’re not alone: fear of needles certainly prevents some
                    people from donating blood. But if you’re willing to spend a
                    few minutes facing your fears (donating really can be that
                    fast) you may find that the satisfaction you feel makes it
                    worth it.
                  </p>
                  <p><b>Try the Helpful Tips Below:</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section id="clients" class="clients section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <div
                class="clients-slider swiper"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="swiper-wrapper">
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-take-pride.png.transform/282/q70/feature/image.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>Take Pride</b></h1>
                    <p style="font-size: small">
                      Try to focus on the good you are doing -<br />
                      your blood donation can help save more than one life.
                    </p>
                  </div>
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-prepared.png.img.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>Be Prepared</b></h1>
                    <p style="font-size: small">
                      Before your appointment, read up on the donation
                      <br />process so you know what to expect at every step.
                    </p>
                  </div>
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-relax.png.img.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>Relax</b></h1>
                    <p style="font-size: small">
                      Listen to music, read a book, talk to our staff, or
                      <br />simply close your eyes and rest for a few minutes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="container pt-5">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donors-with-masks/Donor_registering.jpg.transform/1288/q70/feature/image.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h2 style="color: black"><b>I'm Not Sure I'm Eligible</b></h2>
                <div class="portfolio-description">
                  <p>There’s a very good chance you meet the criteria.</p>
                  <p>
                    <b
                      >For most donations, these are the basic requirements:
                    </b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section id="clients" class="clients section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <div
                class="clients-slider swiper"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="swiper-wrapper">
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/eligibility-good-health.png.transform/282/q70/feature/image.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>Good Health</b></h1>
                    <p style="font-size: small">
                      You generally feel well, even if you're being
                      <br />treated for a chronic condition.
                    </p>
                  </div>
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/eligibility-17-years-old.png.img.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>Age 17</b></h1>
                    <p style="font-size: small">
                      16 year olds may donate with parental permission in
                      <br />certain states if allowed by state law.
                    </p>
                  </div>
                  <div class="swiper">
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/eligibility-healthy-weight.png.img.png"
                      class="img-fluid"
                      alt=""
                    />
                    <h1 style="color: rgb(224, 53, 53)"><b>110 lbs</b></h1>
                    <p style="font-size: small">
                      Additional weight requirements apply for donors age 18
                      <br />or younger and all high school donors.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="container pt-5">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="https://www.osfhealthcare.org/blog/wp-content/uploads/2021/12/shutterstock_1586903512-1.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h2 style="color: black"><b>Is it Safe to Donate?</b></h2>
                <div class="portfolio-description">
                  <p>
                    Yes, donating blood is safe. You can’t get AIDS or any other
                    infectious disease from giving blood because we always use
                    new, sterile needles that are discarded after one use.
                  </p>
                  <p>
                    You’ll even be given a mini-physical at your appointment, to
                    ensure you are healthy enough to donate that day. We’ll
                    check your temperature, blood pressure, pulse and
                    hemoglobin.
                  </p>
                </div>
              </div>
            </div>

            <div class="container pt-5">
              <div class="row gy-4">
                <div class="col-lg-8">
                  <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                      <div>
                        <img
                          src="https://www.redcrossblood.org/content/redcrossblood/en/donate-blood/how-to-donate/common-concerns/_jcr_content/par/section_control_332161301/column-parsys-1/image_copy_copy_copy.img.jpg/1650389077361.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="portfolio-info">
                    <h2 style="color: black"><b>I'm Afraid I'll Faint</b></h2>
                    <div class="portfolio-description">
                      <p>
                        Most donors feel fine after donating blood, but if you
                        do feel faint or fatigued, simply lie down until you
                        feel better. It might help you to think about this: you
                        have about 10 pints of blood in your body. Roughly 1
                        pint is given during a donation. Your body can replenish
                        that loss in a short time (a matter of hours for some
                        components, a few weeks for others).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container pt-5">
                  <div class="row gy-4">
                    <div class="col-lg-8">
                      <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                          <div>
                            <img
                              src="https://www.mydr.com.au/wp-content/uploads/2018/08/AdobeStock_127966544-1210x700.jpg"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="portfolio-info">
                        <h2 style="color: black">
                          <b>I Don't Have the Right Kind of Blood</b>
                        </h2>
                        <div class="portfolio-description">
                          <p>
                            Perhaps you’ve heard an appeal for donors that says
                            we’re running low on certain blood types. That
                            doesn’t mean other types aren’t valuable: there’s
                            always a need and purpose for every type of blood.
                            Here’s what we’re looking for today:
                          </p>
                        </div>
                      </div>
                    </div>
                    <section id="clients" class="clients section-bg">
                      <div class="container" data-aos="fade-up">
                        <div class="section-title">
                          <div
                            class="clients-slider swiper"
                            data-aos="fade-up"
                            data-aos-delay="100"
                          >
                            <div class="swiper-wrapper">
                              <div class="swiper">
                                <img
                                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-all-types.png.img.png"
                                  class="img-fluid"
                                  alt=""
                                />
                                <h1 style="color: rgb(224, 53, 53)">
                                  <b>All Types</b>
                                </h1>
                                <p style="font-size: small">
                                  Whether you’re A, B, AB or O – or unknown –
                                  all types of blood <br />are valuable and can
                                  help save lives.
                                </p>
                              </div>
                              <div class="swiper">
                                <img
                                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-all-components.png.img.png"
                                  class="img-fluid"
                                  alt=""
                                />
                                <h1 style="color: rgb(224, 53, 53)">
                                  <b>All Components</b>
                                </h1>
                                <p style="font-size: small">
                                  You can donate whole blood, or certain
                                  components such as red cells,<br />
                                  platelets or plasma.
                                </p>
                              </div>
                              <div class="swiper">
                                <img
                                  src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/icons-and-badges/concerns-volunteers.png.img.png"
                                  class="img-fluid"
                                  alt=""
                                />
                                <h1 style="color: rgb(224, 53, 53)">
                                  <b>Volunteer Donors</b>
                                </h1>
                                <p style="font-size: small">
                                  The most important thing is that you are
                                  willing to <br />make this generous,
                                  life-saving donation.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer Section ======= -->
    <%- include ./../partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include ./../partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include ./../partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
