<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./../partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include ./../partials/header.ejs %>
    <!-- End Header -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="col-lg-5 d-flex align-items-center justify-content-center about-img"
            >
              <img
                src="images/images-removebg-preview (1).png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
            </div>
            <div class="col-lg-6 pt-5 pt-lg-5">
              <h3 data-aos="fade-up">FACTS ABOUT BLOOD AND BLOOD TYPES</h3>
              <p data-aos="fade-up" data-aos-delay="100">
                Blood types are determined by the presence or absence of certain
                antigens – substances that can trigger an immune response if
                they are foreign to the body. Since some antigens can trigger a
                patient's immune system to attack the transfused blood, safe
                blood transfusions depend on careful blood typing and
                cross-matching.
                <b
                  >Do you know what blood type is safe for you if you need a
                  transfusion?</b
                >
              </p>
              <h2>
                Discover what blood types are compatible with yours. Download
                our guide to find out.
              </h2>
              <p data-aos="fade-up" data-aos-delay="100">
                There are four major blood groups determined by the presence or
                absence of two antigens, A and B, on the surface of red blood
                cells. In addition to the A and B antigens, there is a protein
                called the Rh factor, which can be either present (+) or absent
                (–), creating the 8 most common blood types (A+, A-, B+, B-, O+,
                O-, AB+, AB-).
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <!-- <h2>Services</h2> -->
            <p>See blood type below to learn more.</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                <img
                  src="images/A.png"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <h4 class="title"><a href="">Group A</a></h4>
                <p class="description">
                  has only the A antigen on red cells (and B antibody in the
                  plasma).
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <img
                  src="images/A.png"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <h4 class="title"><a href="">Group B</a></h4>
                <p class="description">
                  has only the B antigen on red cells (and A antibody in the
                  plasma).
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <img
                  src="images/A.png"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <h4 class="title"><a href="">Group AB</a></h4>
                <p class="description">
                  has both A and B antigens on red cells (but neither A nor B
                  antibody in the plasma).
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <img
                  src="images/A.png"
                  class="img-fluid"
                  alt=""
                  data-aos="zoom-in"
                />
                <h4 class="title"><a href="">Group O</a></h4>
                <p class="description">
                  has neither A nor B antigens on red cells (but both A and B
                  antibody are in the plasma).
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-6 pt-5 pt-lg-5">
              <h3 data-aos="fade-up">BLOOD TYPES AND TRANSFUTIONS</h3>
              <p data-aos="fade-up" data-aos-delay="100">
                There are very specific ways in which blood types must be
                matched for a safe transfusion. The right blood transfusion can
                mean the difference between life and death. Use the interactive
                graphic below to learn more about matching blood types for
                transfusions.<br />Also, Rh-negative blood is given to
                Rh-negative patients, and Rh-positive or Rh-negative blood may
                be given to Rh-positive patients. The rules for plasma are the
                reverse.
              </p>
              <h4>
                <b>The universal red cell donor has Type O negative blood.</b>
              </h4>
              <h4><b>The universal plasma donor has Type AB blood.</b></h4>
              <p data-aos="fade-up" data-aos-delay="100">
                There are more than 600 other known antigens, the presence or
                absence of which creates "rare blood types." Certain blood types
                are unique to specific ethnic or racial groups.
              </p>
            </div>

            <div
              class="col-lg-5 d-flex align-items-center justify-content-center about-img"
            >
              <img
                src="images/transfusion.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>

    <!-- ======= Footer Section ======= -->
    <%- include ./../partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include ./../partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include ./../partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
