<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./../partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include ./../partials/header.ejs %>
    <!-- End Header -->

    <main id="main">
      <section id="portfolio-details" class="portfolio-details">
        <div class="container pt-5">
          <h1
            style="
              color: rgb(224, 53, 53);
              font-style: italic;
              font-size: 50px;
              text-align: center;
            "
          >
            <b>Types of Blood Donation</b>
          </h1>
          <p style="color: gray; font-style: italic; text-align: center">
            Giving the "right" type of blood donation - based on your blood type
            and patient needs - helps ensure the best use of your valuable
            contribution. Here are some things to consider when determining how
            you can have the most impact.
          </p>
        </div>
        <div class="container pt-5">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/eligibility-whole-blood-donation.jpg.transform/1288/q82/feature/image.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3 style="color: rgb(224, 53, 53)">
                  <b>Whole Blood Donation</b>
                </h3>
                <ul>
                  <li>
                    <strong>Who it helps</strong>: Whole blood is frequently
                    given to trauma patients and people undergoing surgery.
                  </li>
                  <hr />
                  <li><strong>Time it takes</strong>: About 1 hour.</li>
                  <hr />
                  <li><strong>Ideal blood types</strong>: All blood types.</li>
                  <hr />
                  <li>
                    <strong>Donation frequency</strong>: Every 56 days, up to 6
                    times a year.
                  </li>
                  <hr />
                </ul>
                <div class="portfolio-description">
                  <p>
                    Whole blood is the most flexible type of donation. It can be
                    transfused in its original form, or used to help multiple
                    people when separated into its specific components of red
                    cells, plasma and platelets.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container pt-5">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/470x600-Power-Red-Eligibility.jpg.transform/1288/q82/feature/image.jpeg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3 style="color: rgb(224, 53, 53)">
                  <b>Power Red Donation</b>
                </h3>
                <ul>
                  <li>
                    <strong>Who it helps</strong>: Red cells from a Power Red
                    donation are typically given to trauma patients, newborns
                    and emergency transfusions during birth, people with sickle
                    cell anemia, and anyone suffering blood loss.
                  </li>
                  <hr />
                  <li><strong>Time it takes</strong>: About 1.5 hours.</li>
                  <hr />
                  <li>
                    <strong>Ideal blood types</strong>: O positive, O negative,
                    A negative, and B negative.
                  </li>
                  <hr />
                  <li>
                    <strong>Donation frequency</strong>: Every 112 days, up to 3
                    times/year.
                  </li>
                  <hr />
                </ul>
                <div class="portfolio-description">
                  <p>
                    During a Power Red donation, you give a concentrated dose of
                    red cells, the part of your blood used every day for those
                    needing transfusions as part of their care. This type of
                    donation uses an automated process that separates your red
                    blood cells from the other blood components, and then safely
                    and comfortably returns your plasma and platelets to you.
                    With just a little extra time at your appointment, you can
                    donate more red cells and increase your impact on patients
                    in need.
                  </p>
                </div>
              </div>
            </div>

            <div class="container pt-5">
              <div class="row gy-4">
                <div class="col-lg-8">
                  <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                      <div>
                        <img
                          src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/470x600-Platelet-Donation-Eligibility.jpg.transform/1288/q82/feature/image.jpeg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="portfolio-info">
                    <h3 style="color: rgb(224, 53, 53)">
                      <b>Platelet Donation</b>
                    </h3>
                    <ul>
                      <li>
                        <strong>Who it helps</strong>: Platelets are a vital
                        element of cancer treatments and organ transplant
                        procedures, as well as other surgical procedures.
                      </li>
                      <hr />
                      <li>
                        <strong>Time it takes</strong>: About 2.5-3 hours.
                      </li>
                      <hr />
                      <li>
                        <strong>Ideal blood types</strong>: A positive, A
                        negative, B positive, O positive, AB positive and AB
                        negative.
                      </li>
                      <hr />
                      <li>
                        <strong>Donation frequency</strong>: Every 7 days, up to
                        24 times/year.
                      </li>
                      <hr />
                    </ul>
                    <div class="portfolio-description">
                      <p>
                        Platelets are tiny cells in your blood that form clots
                        and stop bleeding. Platelets are most often used by
                        cancer patients and others facing life-threatening
                        illnesses and injuries.
                      </p>
                      <p>
                        In a platelet donation, an apheresis machine collects
                        your platelets along with some plasma, returning your
                        red cells and most of the plasma back to you. A single
                        donation of platelets can yield several transfusable
                        units, whereas it takes about five whole blood donations
                        to make up a single transfusable unit of platelets.
                      </p>
                      <p>
                        Platelets are collected at Red Cross donation centers
                        only, and are not collected at blood drives
                      </p>
                    </div>
                  </div>
                </div>

                <div class="container pt-5">
                  <div class="row gy-4">
                    <div class="col-lg-8">
                      <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                          <div>
                            <img
                              src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/eligibility-plasma-donation.jpg.transform/1288/q82/feature/image.jpeg"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="portfolio-info">
                        <h3 style="color: rgb(224, 53, 53)">
                          <b>Plasma Donation</b>
                        </h3>
                        <ul>
                          <li>
                            <strong>Who it helps</strong>: Whole blood is
                            frequently given to trauma patients and people
                            undergoing surgery.
                          </li>
                          <hr />
                          <li><strong>Time it takes</strong>: About 1 hour.</li>
                          <hr />
                          <li>
                            <strong>Ideal blood types</strong>: All blood types.
                          </li>
                          <hr />
                          <li>
                            <strong>Donation frequency</strong>: Every 56 days,
                            up to 6 times a year.
                          </li>
                          <hr />
                        </ul>
                        <div class="portfolio-description">
                          <p>
                            During an AB Elite donation, you give plasma, a part
                            of your blood used to treat patients in emergency
                            situations. AB plasma can be given to anyone
                            regardless of their blood type. Plasma is collected
                            through an automated process that separates plasma
                            from other blood components, then safely and
                            comfortably returns your red blood cells and
                            platelets to you. AB Elite maximizes your donation
                            and takes just a few minutes longer than donating
                            blood.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
    <!-- End #main -->

    <section id="team" class="team">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-6 col-lg-7 col-md-9"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="member">
              <img
                src="https://www.konnecthq.com/wp-content/uploads/2019/07/blood-6-10-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>About Blood Types</h4>
                  <span
                    >There are actually more than 8 different blood types, some
                    of which are not compatible with each other. Find out how
                    your blood type can help hospital patients in need of a
                    transfusion.</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-xl-6 col-lg-7 col-md-9"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="member">
              <img
                src="https://www.konnecthq.com/wp-content/uploads/2019/07/blood-6-10-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>About Blood Components</h4>
                  <span
                    >During medical treatment, patients may receive whole blood
                    or just the specific blood components they need. Learn more
                    about how blood components impact patient
                    transfusions.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Footer Section ======= -->
    <%- include ./../partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include ./../partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include ./../partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
