<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./../partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include ./../partials/header.ejs %>
    <!-- End Header -->

    <main id="main">
      <div id="portfolio-details" class="portfolio-details">
        <div class="container pt-5">
          <h1
            style="
              color: rgb(224, 53, 53);
              font-style: italic;
              font-size: 50px;
              text-align: center;
            "
          >
            <b>Donors Rules</b>
          </h1>
          <p style="text-align: center">
            (Ensure your safety. This Organization will not be responsible for
            any inconvenience.)
          </p>
          <p style="color: gray; font-style: italic; text-align: center">
            We are constantly struggling to collect blood for the dying
            patients. It is our responsibility to manage the blood of patients
            in an emergency, as well as to ensure the safety of a blood donor.
          </p>
        </div>
        <div class="container pt-5">
          <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              <div class="row">
                <div
                  class="col-md-6 col-lg-6 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <div class="icon-box">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <img
                      src="https://www.donatebloodbd.com/images/donors-Bangladesh.jpg"
                      class="img-fluid"
                      alt=""
                      data-aos="zoom-in"
                    />
                    <hr />
                    <h4 class="title">
                      <a href="" style="color: rgb(224, 53, 53)"
                        >Telling the Blood Donors</a
                      >
                    </h4>
                    <p class="description"></p>
                    <ul>
                      <li style="text-align: left">
                        Find out which hospital/clinic the patient is in. Do not
                        donate blood anywhere other than hospital/clinic. Not
                        even at the patient's home.
                      </li>

                      <li style="text-align: left">
                        Do not meet the blood applicant (the person you are
                        contacting on the mobile number) anywhere other than the
                        hospital/clinic. Do not ask to meet in the alley next to
                        the hospital, or in a shop.
                      </li>

                      <li style="text-align: left">
                        Check the patient before donating blood. Check the
                        patient's report, doctor's requisition letter.
                      </li>

                      <li style="text-align: left">
                        It is better to have two friends with you when donating
                        blood.
                      </li>

                      <li style="text-align: left">
                        Make sure to use new needles when donating blood...
                      </li>

                      <li style="text-align: left">
                        If in doubt about the competence of the attending
                        expert, inform the authority...
                      </li>

                      <li style="text-align: left">
                        Donate after blood cross matching, not before... most
                        govt hospitals keep blood without cross matching... it
                        should never be done... self aware... donate blood after
                        cross matching...
                      </li>
                    </ul>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="200"
                >
                  <div class="icon-box">
                    <img
                      src="https://www.donatebloodbd.com/images/donors-Bangladesh.jpg"
                      class="img-fluid"
                      alt=""
                      data-aos="zoom-in"
                    />
                    <hr />
                    <h4 class="title">
                      <a href="" style="color: rgb(224, 53, 53)"
                        >Donation of Blood is voluntarily Free and Safe</a
                      >
                    </h4>
                    <p class="description"></p>
                    <ul>
                      <li style="text-align: left">
                        If you want to go for blood donation, first talk to the
                        relative of the patient... After knowing the name of the
                        hospital, cabin/ward number, go directly to that
                        cabin/ward... Blood applicant somewhere other than the
                        hospital/clinic (the person you are contacting on the
                        mobile number) Don't meet him... in the alley next to
                        the hospital, or even ask him to meet him in a shop...
                        not even at the patient's home...
                      </li>
                      <li style="text-align: left">
                        Know the cabin/ward number, go directly to the
                        cabin/ward... see the patient... Then donating blood...
                        inform the patient and patient's relatives that you are
                        donating blood for free... this will not give the
                        hospital authority or any third party a chance to
                        corrupt...
                      </li>
                    </ul>
                  </div>
                </div>
                <br /><br />
                <center>
                  <div>
                    <a href="images/REDFLOW.pdf"
                      ><button class="btn btn-danger" type="button">
                        Download Guide
                      </button></a
                    >
                  </div>
                </center>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- ======= Footer Section ======= -->
    <%- include ./../partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include ./../partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include ./../partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
