<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./../partials/head.ejs %>
    <title><%= pageTitle %></title>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include ./../partials/header.ejs %>
    <!-- End Header -->

    <main id="main">
      <section id="portfolio-details" class="portfolio-details">
        <div class="container pt-5">
          <h1
            style="
              color: rgb(224, 53, 53);
              font-style: italic;
              font-size: 50px;
              text-align: center;
            "
          >
            <b>Recipients Rules</b>
          </h1>
          <p style="text-align: center">
            (Ensure your safety. This Organization will not be responsible for
            any inconvenience.)
          </p>
          <p style="color: gray; font-style: italic; text-align: center">
            We are constantly struggling to collect blood for the dying
            patients. It is our responsibility to manage the blood of patients
            in an emergency, as well as to ensure the safety of a blood donor.
          </p>
        </div>
        <div class="container pt-5">
          <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
              <div class="row">
                <div
                  class="col-md-6 col-lg-12 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <div class="icon-box">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <img
                      src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/donate-blood/components/520x295-health-history.jpg.transform/1288/q82/feature/image.jpeg"
                      class="img-fluid"
                      alt=""
                      data-aos="zoom-in"
                    />
                    <hr />
                    <h4 class="title">
                      <a href="" style="color: rgb(224, 53, 53)"
                        >Telling the patient (or patient's
                        relative/Recipients)</a
                      >
                    </h4>
                    <p class="description"></p>
                    <ul>
                      <li style="text-align: left">
                        Make sure that the blood donor can rest for at least
                        half an hour after donating blood.
                      </li>
                      <li style="text-align: left">
                        After blood donation, if possible, provide saline water,
                        juice, water for the blood donor. It is useful for quick
                        recovery of blood donor.
                      </li>
                      <li style="text-align: left">
                        Keep in touch with the blood donor even after recovery.
                        Be in good relationship with the one whose blood is
                        flowing in your body, who has selflessly come forward to
                        save your life. Expressing gratitude to the blood donor
                        again and again - I don't think there is anything wrong.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br /><br />
              <center>
                <div>
                  <a href="images/REDFLOW.pdf"
                    ><button class="btn btn-danger" type="button">
                      Download Guide
                    </button></a
                  >
                </div>
              </center>
            </div>
          </section>
        </div>
      </section>
    </main>
    <!-- ======= Footer Section ======= -->
    <%- include ./../partials/footer.ejs %>
    <!-- End Footer -->

    <!-- ======= Scroll to top Section ======= -->
    <%- include ./../partials/scrollButton.ejs %>
    <!-- ======= Scroll to top Section End ======= -->

    <!-- ======= Scripts Section ======= -->
    <%- include ./../partials/scripts.ejs %>
    <!-- ======= Scripts Section End ======= -->
  </body>
</html>
